resources/*
__pycache__/
.env
gloss2pose_dictionary_output/
gloss_dictionary.json
pose-sequence-videos/
dataset.csv
gloss_times_for_frame_interpolation.csv
process.log
unique-glosses.csv
results/
outputs/
resources/
data_augment.log
augmented_dataset.csv
*.csv